body {
  background: black;
}

p video, #camp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
}
